.drawer {
  display: flex;
  height: 100%;
  background-color: #485461;
  background-image: url("../../assets/imgs/insta_Gradient.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex-direction: column;
  & * {
    color: white;
  }
  .dashboard_select {
    .dashboard_block {
      transition: 0.3s;
      height: 3rem;
      margin: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding-left: 8px;
      margin: 2rem;
      border-radius: 4px;
      //   background-color: #48dbfb;
      //   background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
      border: 1px solid transparent;
      &:hover {
        border: 1px solid teal;
        background-color: rgba(1, 1, 1, 0.1);
      }
    }
  }
  .account-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 6rem;
  }
  .accounts {
    width: 100%;
    .account_block {
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      transition: 0.3s;
      background-color: rgba(1, 1, 1, 0.05);
      &:hover {
        background-color: rgba(1, 1, 1, 0.1);
      }
      .acc-text {
        word-wrap: break-word;
        max-width: 15rem;
      }
      .delete {
        .MuiSvgIcon-root {
          padding: 0.3rem;
          margin: 0.7rem;
          transition: 0.3s;
          background-color: transparent;
          border-radius: 30px;

          &:hover {
            fill: red;
            background-color: black;
            border-radius: 10px;
          }
        }
      }
      &.add {
        .MuiSvgIcon-root {
          padding: 0.3rem;
          margin: 0.7rem;
          transition: 0.3s;
          background-color: transparent;
          border-radius: 30px;

          &:hover {
            fill: green;
            background-color: white;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .MuiAccordion-root {
    background: transparent;
  }
  .MuiAccordionDetails-root {
    padding: 0px;
  }
  //   .MuiCollapse-wrapperInner {
  //     background-color: rgba(1, 1, 1, 0.1);
  //   }
}
